/* Andy Bell’s Modern CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*colors*/

$white: #ffffff;
$black: #000000;
$green-blue: #1e9d9d;

/*fonts*/
$Asul: "Asul", sans-serif;
$Roboto: "Roboto", sans-serif;

.container {
  min-height: 100vh;
  max-width:1366px;
  margin: 0 auto;
  background-color: transparent;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.socialLinks__LinkedIn,
.socialLinks__Behance,
.socialLinks__Dribble {
  max-width: 40px;
  max-height: 40px;
  fill: #fff;
}

@media screen and (max-width: 481px) {
  .container {
    background-image: url("/assets/mobile_background.svg");
  }
}
@media screen and (min-width: 482px) {
 .container{
    background-image: url("/assets/desktop_background.svg");
    margin: 0 auto;
  }
}
